$c-red: #f00 !default;
$c-yellow: #ef0 !default;
$c-blue: #6dd0fe !default;
$c-default: #333 !default;
$borderc-default: #ccc !default;

$bgc-green-default: #80bd01 !default;
$bgc-green-default-fc: #fff !default;

$bgc-blue-default: #0e90d2 !default;
$bgc-blue-default-fc: #fff !default;

$bgc-default: #eee !default;
$bgc-default-fc: #333 !default;
$bgc-default-active-fc: #80bd01 !default;

$bgc-bar-1: #4c4c4c !default;
$bgc-bar-2: #2f2f2f !default;
$bgc-bar-fc1: #fff !default;
$bgc-bar-fc2: #888 !default;

$bgc-1: #111 !default;

$doc-bgc: #2f486f !default;
$doc-bgc-fc: #b9c8e0 !default;
